@import '../_colors.scss';

.menu-wrap {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container {
    width: 1200px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.menu-header {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    h1 {
        font-family: $font;
        font-weight: normal;
        margin: 0;
        color: $blue;
    }
    button {
        width: 150px;
        height: 30px;
        background: $blue;
        color: white;
        border: none;
        border-radius: 3px;
        font-size: 10pt;
        font-family: $font;
        outline: none;
        &:active {
            border: white 1px;
            width: 148px;
            height: 28px;
        }
    }
}

.order-online-mobile {
    display: none;
}


@media only screen and (max-width: 1250px) {
    .menu-container {
        width: 1000px;
    }
    .menu-header {
        width: 1000px;
    }
}

@media only screen and (max-width: 1050px) {
    .menu-container {
        width: 800px;
    }
    .menu-header {
        width: 800px;
    }
}

@media only screen and (max-width: 900px) {
    .menu-container {
        margin-top: 8px;
    }
}

@media only screen and (max-width: 850px) {
    .menu-container {
        width: 93vw;
    }
    .menu-header {
        width: 93vw;
    }
}

@media only screen and (max-width: 530px) {
    .menu-container {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .order-online {
        display: none;
    }
    .menu-header {
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 18pt;
            margin-bottom: 20px;
        }
        button {
            width: 93vw;
            height: 40px;
            margin-bottom: 10px;
            &:active {
                border: white 1px;
                width: 92vw;
                height: 38px;
            }
        }
    }
    .order-online-mobile {
        display: initial;
    }
}