.about-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.about-wrap {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 0px 50px 0px; }

.about {
  width: 650px; }
  .about h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal; }
  .about p {
    width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    line-height: 2; }

.about-img {
  width: 450px;
  border-radius: 7px; }
  .about-img img {
    width: 450px;
    height: auto;
    border-radius: 7px;
    margin-bottom: 20px; }

@media only screen and (max-width: 1100px) {
  .about-wrap {
    width: 93vw; }
  .about {
    width: 50vw; }
    .about p {
      width: 46vw; }
  .about-img {
    width: 43vw; }
  .salmon {
    width: 43vw; } }

@media only screen and (max-width: 750px) {
  .about-wrap {
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px; }
  .about {
    width: 90vw; }
    .about h1 {
      font-size: 20pt; }
    .about p {
      font-size: 14pt;
      width: 90vw; }
  .about-img {
    display: none; }
  .about-img-two {
    display: initial;
    width: 90vw;
    height: auto; }
    .about-img-two img {
      width: 90vw;
      height: auto; } }
