@import '../../_colors.scss';

.hero-wrap {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-logo {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-top: solid 1px white;
    img {
        width: 1200px;
        height: auto;
        margin-top: 20px;
    }
}

.hero-pic {
    width: 1200px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 230px;
        height: auto;
    }
}

.first-slide {
    width: 230px;
    height: auto;
}

.hero-welcome{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    border-bottom: solid 1px $blue;
    p {
        color: $blue;
        font-size: 18pt;
        font-family: $font;
    }
}

@media only screen and (max-width: 1250px) {
    .hero-logo {
        width: 93vw;
        img {
            width: 93vw;
        }
    }

    .hero-pic {
        width: 95vw;
        img {
            width: 23vw;
        }
    }
    .salads {
        display: none;
    }
    .hero-welcome{
        width: 95vw;
        p {
            font-size: 16pt;
        }
    }
}

@media only screen and (max-width: 1010px){
    .hero-welcome{
        p {
            font-size: 14pt;
        }
    }
}

@media only screen and (max-width: 885px){
    .hero-welcome{
        p {
            font-size: 12pt;
        }
    }
}

@media only screen and (max-width: 750px) {
    .hero-pic {
        img {
            width: 29vw;
        }
    }
    .ricebowl {
        display: none;
    }
    .hero-welcome{
        p {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 415px) {
    .hero-pic {
        img {
            width: 45vw;
        }
    }
    .cooking {
        display: none;
    }
}