.hero-wrap {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.hero-logo {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero-logo img {
    width: 1200px;
    height: auto;
    margin-top: 20px; }

.hero-pic {
  width: 1200px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .hero-pic img {
    width: 285px;
    height: auto; }

.hero-welcome {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  border-bottom: solid 1px #017BA2; }
  .hero-welcome p {
    color: #017BA2;
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

@media only screen and (max-width: 1250px) {
  .hero-logo {
    width: 93vw; }
  .hero-pic {
    width: 95vw; }
  .hero-welcome {
    width: 95vw; } }

@media only screen and (max-width: 750px) {
  .hero-logo img {
    width: 300px; }
  .hero-pic {
    height: 400px; } }

@media only screen and (max-width: 500px) {
  .hero-pic {
    height: 300px; } }

@media only screen and (max-width: 370px) {
  .hero-pic {
    height: 250px; } }
