@import '../../_colors.scss';

.home-header-two {
    width: 100vw;
    height: 80px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: ease-in-out 1s;
}
.home-header-two-false {
    width: 100vw;
    height: 80px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    position: fixed;
    display: none;
    transition: ease-in-out 1s;
}

.home-h2-container {
    // position: fixed;
    width: 1200px;
    height: 80px;
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px $blue;
    // z-index: 1;
    // border: solid gold;
}

.home-h2-social {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    // border: solid gold;
    a {
        width: 30px;
        height: auto;
        display: flex;
        align-items: center;
        margin-right: 40px;
        img {
            width: 30px;
            height: auto;
        }
    }
}

.home-h2-logo-container {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: solid blue;
    a {
        width: 180px;
        img {
            width: 180px;
            height: auto;
        }
    }
}

.home-h2-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 80px;
    font-family: $font;
    font-size: 12pt;
    // border: solid red;
    a {
        text-decoration: none;
        color: $blue;
        &:hover {
            border-bottom: solid 1px $blue;
            margin-top: 1px;
        }
    }
}


@media only screen and (max-width: 1250px) {
    .home-h2-container {
        width: 95vw;
    }

    .home-h2-social {
        width: 31.6vw;
    }

    .home-h2-logo-container {
        width: 31.6vw;
    }

    .home-h2-nav {
        width: 31.6vw;
    }

}

@media only screen and (max-width: 1075px) {
    .home-h2-container {
        width: 95vw;
    }

    .home-h2-social {
        width: 31.6vw;
    }

    .home-h2-logo-container {
        width: 31.6vw;
    }

    .home-h2-nav {
        width: 31.6vw;
        font-size: 12pt;
        justify-content: space-between;
        a {
            margin-left: 0px;
        }
    }

}

@media only screen and (max-width: 900px) {
    .home-h2-nav {
        display: none;
    }
    .home-header-two {
        display: none;
    }
    .home-header-two-false {
        display: none;
    }
}