.contact-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.contact-wrap {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  font-size: 14pt; }
  .contact-wrap h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal; }

.contact-aqua-logo {
  width: 250px;
  height: auto;
  margin-bottom: -10px; }

.contact-description-address {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 900px;
  margin: 0;
  margin-bottom: 20px; }

.contact-info {
  width: 900px;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 20px; }

.keith-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .keith-info h3 {
    font-weight: normal;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .keith-info p {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 27px; }

.chelsea-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .chelsea-info h3 {
    font-weight: normal;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .chelsea-info p {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 27px; }

.contact-images {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px; }
  .contact-images img {
    width: 480px;
    height: auto;
    border-radius: 11px; }

@media only screen and (max-width: 1250px) {
  .contact-wrap {
    width: 95vw; } }

@media only screen and (max-width: 1030px) {
  .contact-description-address {
    width: 80vw; }
  .contact-info {
    width: 80vw; }
  .contact-images {
    width: 95vw; }
    .contact-images img {
      width: 46vw; } }

@media only screen and (max-width: 770px) {
  .contact-wrap h1 {
    font-size: 22pt; } }

@media only screen and (max-width: 620px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
    height: 300px; }
  .contact-images {
    flex-direction: column;
    align-items: center; }
    .contact-images img {
      width: 80vw;
      margin-bottom: 20px; } }
