.left-menu-wrap {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px; }

.left-menu-text {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #017BA2; }
  .left-menu-text h2 {
    border-bottom: solid 1px #017BA2;
    margin: 0;
    margin-bottom: 20px; }

.menu-item {
  width: 600px;
  flex-direction: column;
  margin-bottom: 20px; }
  .menu-item div {
    width: 600px;
    display: flex;
    justify-content: space-between; }
    .menu-item div h3 {
      margin: 0;
      font-weight: normal; }
  .menu-item p {
    margin: 0;
    font-weight: normal;
    width: 460px; }

.left-menu-images {
  width: 516px;
  display: flex;
  flex-direction: column; }
  .left-menu-images img {
    width: 516px;
    height: auto;
    margin-bottom: 15px; }
