@import '../_colors.scss';

.footer-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    // border-top: solid 5px $blue;
    margin-bottom: -8px;
    background: $blue;
}

.footer-wrap {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 30px 0px;
}

.footer-left {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // margin-top: 20px;
    p {
        font-family: $font;
        font-size: 14pt;
        margin: 0;
        margin-bottom: 15px;
        color: white;
    }
}

.footer-image-wrap {
    width: 430px;
    display: flex;
    justify-content: space-between;
    // border: solid silver;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 11px;
        img {
            width: 190px;
            height: auto;
        }
    }
}

.footer-right {
    width: 600px;
    font-family: $font;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    // margin-top: 20px;
}

@media only screen and (max-width: 1250px) {
    .footer-wrap {
        width: 93vw;
    }
}

@media only screen and (max-width: 900px) {
    .footer-wrap {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .footer-left {
        align-items: center;
        margin: 20px 0px 30px 0px;
        // border: solid red;
    }
    .footer-right {
        align-items: center;
        // border: solid gold;
        p {
            margin: 0;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 605px) {
    .footer-left {
        width: 90vw;
        // border: solid red;
    }
    .footer-image-wrap {
        flex-direction: column;
        width: 230px;
    }
    .footer-right {
        width: 90vw;
        // border: solid gold;
        p {
            font-size: 12pt;
        }
    }
}

@media only screen and (max-width: 400px) {
    .footer-right {
        p {
            font-size: 9pt;
        }
    }
}