.footer-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: -8px;
  background: #017BA2; }

.footer-wrap {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 30px 0px; }

.footer-left {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  .footer-left p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    margin: 0;
    margin-bottom: 15px;
    color: white; }

.footer-image-wrap {
  width: 430px;
  display: flex;
  justify-content: space-between; }
  .footer-image-wrap a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 11px; }
    .footer-image-wrap a img {
      width: 190px;
      height: auto; }

.footer-right {
  width: 600px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  color: white; }

@media only screen and (max-width: 1250px) {
  .footer-wrap {
    width: 93vw; } }

@media only screen and (max-width: 900px) {
  .footer-wrap {
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .footer-left {
    align-items: center;
    margin: 20px 0px 30px 0px; }
  .footer-right {
    align-items: center; }
    .footer-right p {
      margin: 0;
      margin-bottom: 10px; } }

@media only screen and (max-width: 605px) {
  .footer-left {
    width: 90vw; }
  .footer-image-wrap {
    flex-direction: column;
    width: 230px; }
  .footer-right {
    width: 90vw; }
    .footer-right p {
      font-size: 12pt; } }

@media only screen and (max-width: 400px) {
  .footer-right p {
    font-size: 9pt; } }
