@import '../_colors.scss';

.footer-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    // border-top: solid 5px $blue;
    margin-bottom: -8px;
    background: $blue;
}

.footer-wrap {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 30px 0px;
}

.footer-left {
    // width: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    // margin-top: 20px;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.icon-culinary-logo {
    background: white;
    border-radius: 11px;
    // margin-right: 20px;
    img {
        width: 120px;
        height: auto;
    }
}
.social-media {
    margin-bottom: 10px;
}
.insta-logo {
    img {
        width: 40px;
        height: auto;
    }
}
.facebook-logo {
    margin-right: 20px;
    img {
        width: 40px;
        height: auto;
    }
}

.footer-right {
    // width: 600px;
    font-family: $font;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    p {
        margin: 0;
    }
    // margin-top: 20px;
}

@media only screen and (max-width: 1250px) {
    .footer-wrap {
        width: 93vw;
    }
}

@media only screen and (max-width: 900px) {
    .footer-wrap {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .footer-left {
        align-items: center;
        margin: 20px 0px 20px 0px;
        // border: solid red;
    }
    .footer-image-wrap {
        justify-content: center;
    }
    .footer-right {
        align-items: center;
        // border: solid gold;
        p {
            margin: 0;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 605px) {
    // .footer-left {
    //     width: 90vw;
    // }
    .footer-right {
        width: 90vw;
        // border: solid gold;
        p {
            font-size: 12pt;
        }
    }
}

@media only screen and (max-width: 500px) {
    .footer-right {
        p {
            font-size: 9pt;
        }
    }
}

@media only screen and (max-width: 432px) {
    .footer-left {
        p {
            font-size: 12pt;
        }
    }
}

@media only screen and (max-width: 370px) {
    .footer-left {
        p {
            font-size: 11pt;
        }
    }
    .footer-image-wrap {
        width: 170px;
        a {
            img {
                width: 150px;
            }
        }
    }
    .footer-right {
        p {
            font-size: 8pt;
        }
    }
}

@media only screen and (max-width: 338px) {
    .footer-left {
        p {
            font-size: 10pt;
        }
    }
}