@import '../_colors.scss';

.h2-wrap {
    width: 100vw;
    height: 80px;
    margin-top: -8px;
    display: flex;
    justify-content: center;
    position: fixed;
}

.h2-container {
    // position: fixed;
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px $blue;
    background: white;
    // z-index: 1;
    // border: solid gold;
}

.h2-social {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    // border: solid gold;
    a {
        width: 30px;
        height: auto;
        display: flex;
        align-items: center;
        margin-right: 40px;
        img {
            width: 30px;
            height: auto;
        }
    }
}

.h2-logo-container {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: solid blue;
    a {
        width: 180px;
        img {
            width: 180px;
            height: auto;
        }
    }
}

.h2-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    height: 80px;
    font-family: $font;
    font-size: 12pt;
    // border: solid red;
    a {
        text-decoration: none;
        margin-left: 68px;
        color: $blue;
        margin-top: 1px;
        &:hover {
            border-bottom: solid 1px $blue;
        }
    }
}

@media only screen and (max-width: 1250px) {
    .h2-container {
        width: 93vw;
    }
    .h2-social{
        width: 31vw;
    }
    .h2-logo-container {
        width: 31vw;
    }
    .h2-nav {
        width: 31vw;
        justify-content: space-around;
        a {
            margin-left: 0;
        }
    }
}

@media only screen and (max-width: 900px) {
    .h2-wrap {
        position: static;
    }
    .h2-nav {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .h2-wrap {
        height: 60px;
    }
    .h2-container {
        height: 60px;
    }
    .h2-social{
        height: 60px;
        a {
            width: 25px;
            img {
                width: 25px;
            }
        }
    }
    .h2-logo-container {
        height: 60px;
        a {
            width: 120px;
            img {
                width: 120px;
            }
        }
    }
}

@media only screen and (max-width: 415px) {
    .h2-social{
        a {
            width: 20px;
            margin-right: 20px;
            img {
                width: 20px;
            }
        }
    }
    .h2-logo-container {
        a {
            width: 90px;
            img {
                width: 100px;
            }
        }
    }
}