.h2-wrap {
  width: 100vw;
  height: 80px;
  margin-top: -8px;
  display: flex;
  justify-content: center;
  position: fixed; }

.h2-container {
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #017BA2;
  background: white; }

.h2-social {
  width: 340px;
  height: 80px;
  display: flex;
  justify-content: flex-start; }
  .h2-social a {
    width: 30px;
    height: auto;
    display: flex;
    align-items: center;
    margin-right: 40px; }
    .h2-social a img {
      width: 30px;
      height: auto; }

.h2-logo-container {
  width: 520px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .h2-logo-container a {
    width: 180px;
    height: 48.61px; }
    .h2-logo-container a img {
      width: 180px;
      height: auto; }

.h2-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt; }
  .h2-nav a {
    text-decoration: none;
    color: #017BA2;
    margin-top: 1px; }
    .h2-nav a:hover {
      border-bottom: solid 1px #017BA2; }

@media only screen and (max-width: 1250px) {
  .h2-container {
    width: 93vw; }
  .h2-social {
    width: 31vw; }
  .h2-logo-container {
    width: 31vw; }
  .h2-nav {
    width: 31vw;
    justify-content: space-around; }
    .h2-nav a {
      margin-left: 0; } }

@media only screen and (max-width: 900px) {
  .h2-wrap {
    position: static; }
  .h2-social {
    width: 100px;
    height: 80px; }
    .h2-social a {
      width: 30px; }
      .h2-social a img {
        width: 30px; }
  .h2-nav {
    display: none; }
  .ham-wrap {
    width: 100px;
    height: 80px; } }

@media only screen and (max-width: 750px) {
  .h2-wrap {
    height: 60px; }
  .h2-container {
    height: 60px; }
  .h2-social {
    width: 80px;
    height: 60px;
    justify-content: space-between; }
    .h2-social a {
      width: 25px;
      margin: 0; }
      .h2-social a img {
        width: 25px; }
  .h2-logo-container {
    height: 60px; }
    .h2-logo-container a {
      width: 120px;
      height: 32.41px; }
      .h2-logo-container a img {
        width: 120px; }
  .ham-wrap {
    width: 80px;
    height: 60px; } }

@media only screen and (max-width: 415px) {
  .h2-social {
    width: 80px; }
  .h2-logo-container {
    width: 38vw; }
    .h2-logo-container a {
      width: 100px;
      height: 27px; }
      .h2-logo-container a img {
        width: 100px; }
  .ham-wrap {
    width: 80px;
    height: 60px; } }
