.header-wrap {
  width: 100vw;
  height: 80px;
  margin-top: -10px;
  display: flex;
  justify-content: center; }

.header-container {
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #017BA2;
  z-index: 1;
  margin-top: 2px; }

.header-social {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: space-between; }
  .header-social a {
    width: 30px;
    height: auto;
    display: flex;
    align-items: center; }
    .header-social a img {
      width: 30px;
      height: auto; }

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.icon-logo {
  display: none; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt; }
  .nav a {
    text-decoration: none;
    color: #017BA2; }
    .nav a:hover {
      border-bottom: solid 1px #017BA2;
      margin-top: 1px; }

@media only screen and (max-width: 1250px) {
  .header-container {
    width: 93vw; } }

@media only screen and (max-width: 900px) {
  .nav {
    display: none; } }

@media only screen and (max-width: 750px) {
  .header-wrap {
    height: 60px; }
  .header-container {
    height: 60px; }
  .header-social {
    width: 80px;
    height: 60px; }
    .header-social a {
      width: 25px; }
      .header-social a img {
        width: 25px; } }
